<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Products</button>
    <button mat-menu-item>About</button>
    <button mat-menu-item routerLink="/contact" >Contact</button>
  </mat-menu>
  <span>Pet Store</span>
  <span class="spacer"></span>
  <button mat-icon-button class="toolbar-icon favorite-icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
