<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>CONTACT</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" value="info@petstore.com">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input type="tel" matInput placeholder="Ex. pat@example.com" value="+372 5398752">
          </mat-form-field>
        </form>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
